.glow-on-hover{
    position: relative;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #0b0b0b;
    border-radius: 5px;
    cursor: pointer;
}
.glow-on-hover:hover{
    box-shadow: 0 0 20px hsl(213, 94%, 43%), 0 0 10px hsl(213, 94%, 43%), 0 0 10px hsl(213, 94%, 43%), 0 0 10px hsl(213, 94%, 43%);
    transition: all 0.3s ease-in-out;
    
    transition: transform 0.3s ease;
}
.resume-img{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

}

.resume-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
   

}

.res:hover{
    color: #04e8a3;
    transition: background-color 0.3s ease;
    transform: scale(1.05);
}

.res{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.respara{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.download {
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}